<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cgl.xyhs.ssm.mapper.DictionaryMapper">
  <resultMap id="BaseResultMap" type="cgl.xyhs.ssm.pojo.Dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_type" jdbcType="TINYINT" property="goodsType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_type, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dictionary_inf
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary_inf
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cgl.xyhs.ssm.pojo.Dictionary">
    insert into dictionary_inf (id, goods_type, name
      )
    values (#{id,jdbcType=INTEGER}, #{goodsType,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cgl.xyhs.ssm.pojo.Dictionary">
    insert into dictionary_inf
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cgl.xyhs.ssm.pojo.Dictionary">
    update dictionary_inf
    <set>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cgl.xyhs.ssm.pojo.Dictionary">
    update dictionary_inf
    set goods_type = #{goodsType,jdbcType=TINYINT},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>